version: '3.8'

services:
  landing-page:
    image: docker.io/arturdiboa/vendas-dahorta-02:v1.3.1
    ports:
      - "3000:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - VITE_SUPABASE_URL=<sua url>
      - VITE_SUPABASE_ANON_KEY=<sua url>
      - VITE_FAVICON_URL=<sua url>
